footer {
  width: auto;
  height: auto;
  background-color: #292b33;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  .information {
    width: auto;
    color: #fff;
    padding: 1vh;
  }
  .fan-pages {
    width: auto;
    justify-content: center;
    color: #fff;
    img {
      width: 2rem;
    }
  }
}
