#providers-container {
  width: auto;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    text-align: center;
    font-size: 3rem;
  }
  .carousel-container {
    width: 75%;
    margin: 0 auto;
  }
}
